{{ partial "header" . }}
{{ partial "nav" . }}
<main class="flex">
<aside class="menu">
    <div class="menu-content">
        <h1>Documentation</h1>
      {{ .Content }}
    </div>
  </aside>
<section class="section conference">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
    <h1 class="title">{{ .Title | markdownify }}</h1>
    <div class="content">
        <h2>Workshops concept</h2>
        <p>{{ .Params.concept_en }} {{ .Params.concept_fr }}</p>
        <p>If you want you can open the pad on a new page/Si vous voulez ouvrir le pad dans une nouvelle page cliquez ici:<br>
        <a href="https://annuel2.framapad.org/p/6g9zqc2ipm-9mzu" target="blank">https://annuel2.framapad.org/p/6g9zqc2ipm-9mzu</a></p>
        <iframe name="embed_readwrite" src="{{ .Params.pad }}?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false" width="100%" height="1600" class="pad"></iframe>
        <details>
            <summary>
              <h3>History/historique</h3>
              <p>Version archivée (sans coloration syntaxique) : <a href="/6g9zqc2ipm-9mzu.html">lien</a>. Téléchargement de la source : <a href="6g9zqc2ipm-9mzu.etherpad">format ETHERPAD/JSON</a>.</p>
              <p>Clic here to view the writing historic/Cliquez ici pour voir l'historique du pad</p>
            </summary>
            <iframe name="embed_readwrite" src="{{ .Params.pad }}/timeslider" width="100%" height="800" class="pad"></iframe>
        </details>
    </div>
  </div>
</section>
<aside class="details-droit">
    <div>
        <h1>{{ .Params.subtitle }}</h1>
        <section>
        {{ .Params.informations | markdownify }}
        <p class="visio">Online:<br><a href="{{ .Params.meet }}">{{ .Params.meet }}</a></p>
        </section>
        <h2>{{ .Params.group_title }}</h2>
        {{ .Params.presentation | markdownify }}
        <h2>{{ .Params.question }}</h2>
        <p>{{ .Params.question_en }}</p>
        <p>{{ .Params.question_fr }}</p>
    </div>
</aside>
</main>
{{ partial "footer" . }}
