{{ partial "header" . }}
{{ if eq .Params.type "neutral" }}{{ else }}
{{ partial "nav" . }}
{{ end }}
<section class="section">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
      <h1 class="title">{{ if eq .Params.type "neutral" }}<em>{{ .Site.Title }}</em> {{ else }}{{ end }}{{ .Title }}</h1>
    <div class="content">
      {{ if .Params.source }}
      <div class="source"><a href="{{ .Params.source }}">✎ Modify the source of this page</a></div>
      {{ end }}
      {{ .Content }}
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
  </div>
</section>
{{ partial "footer" . }}
