<section class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
    {{if .Site.Params.Info.poweredby}}
      <p>Powered by <a href="https://complit.ca/">CCLA</a> &amp; <a href="https://gohugo.io/">Hugo</a>.</p>
    {{ end }}
  </div>
</section>
</body>
</html>
