{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <div class="intro">
      <p>{{ .Site.Params.info.description }}</p>
      <p><a class="button is-link intro-link" href="{{ .Site.Params.info.descriptionlink }}" style="height:28px">Read the presentation / Lire la présentation</a></p>
    </div>
    
<!--    {{ range where .Site.RegularPages "Section" "==" "ccla-conference" }}
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h2 class="subtitle is-6 date">Event date: {{ .Params.dateevent }}</h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Params.question_en | plainify | safeHTML }} / {{ .Params.question_fr | plainify | safeHTML }}
      </div>
    </article>
    {{ end }} -->

    {{ range where .Site.RegularPages "Section" "==" "post" }}
    
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h2 class="subtitle is-6 date">Event date: {{ .Params.dateevent }}</h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}{{ partial "taxonomies_count" . }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more/En savoir plus
        </a>
        {{ end }}
      </div>
    </article>
    
    {{ end }}
  </div>
</section>

{{ partial "footer" . }}
